body {
  background-color: #7AC6D2;
  margin: 0;
  font-family: Arial, sans-serif;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
  font-size: larger;
  color: white;
}

.member-sub-heading {
  color: #B5FCCD;
  font-weight: bold;
}
