body{
  background-color: #7AC6D2;
}
.members-container{
  display: flex;
  font-size: larger;
  color:white;
  gap: 40px;
  justify-content: center;
flex-wrap: wrap;
}

.member-sub-heading{
  color: #B5FCCDf;
  font-weight: bold;
}